/* 
  1. Layouts
  2. Content
*/ 

html {
  text-align: center;
  font-size: 16px;
  background: #fcba03;
}

/* Layouts */

.layout {
  width: auto;
  height: auto;
  display: flex;
  margin: 1rem 8rem;
  flex-wrap: wrap;
  gap: 1rem;
  /*outline: 2px solid red;*/
  justify-content: flex-start;
}

/* Content */

/* twoCols content sizing */
div.twoCols > * { width: 49.15%; }

/* threeCols content sizing */
div.threeCols > * { width: 32.2%; }

/* sidebar content sizing */
.sideContent { flex: 1; }
.mainContent { flex: 2; }

/* content sizing and decoration */
.content {
  outline: 2px solid #0ddba8;
  height: 15rem;
}